html, body {
    margin: 0;
    /* height: 100%; */
 }

 #loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
  }
  #loading>div>div {
    padding: 2px;
  }
  .progress {
    width: 50vw;
    border: 1px solid black;
  }
  #progressbar {
    width: 0;
    transition: width ease-out .5s;
    height: 1em;
    background-color: rgb(52, 51, 133);
    background-image: linear-gradient(
      -45deg, 
      rgba(163, 106, 255, 0.5) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(163, 106, 255, 0.5) 50%, 
      rgba(163, 106, 255, 0.5) 75%, 
      transparent 75%, 
      transparent
    );
    background-size: 50px 50px;
    animation: progressanim 2s linear infinite;
  }
   
  @keyframes progressanim {
    0% {
      background-position: 50px 50px;
    }
    100% {
      background-position: 0 0;
    }
  }

#difficulty {
  text-align: center;
}

.btn {
  background-color: rgba(163, 106, 255, 0.5);
  border: 1px solid black;
  font-size: xx-large;
  margin: 2%;
  padding: 2%;
  border-radius: 30%;
}

#choose {
  font-size: xx-large;
  margin: 2%;
}

.under {
  position: relative;
}

#over {
  position: absolute;
  font-size: x-large;
  z-index: 1;
  text-align: center;
  padding: 0.5%;
  margin-left: 1%;
  border: 1px solid rgb(52, 51, 133);
  border-radius: 20%;
  background-color: white; 
}

#bestScore {
  font-size: xx-large;
  color: rgba(163, 106, 255, 1);
}

#overLife {
  position: absolute;
  left: 85%;
  font-size: x-large;
  z-index: 1;
  text-align: center;
  padding: 0.5%;
  margin-left: 1%;
}

#life {
  border: 1px solid rgb(52, 51, 133);
  border-radius: 50%;
  font-size: xx-large;
  color: rgba(163, 106, 255, 1);
  background-color: white;
}